*.py[cod]

# C extensions
*.so

# Packages
*.a
*.o
*.pyc
*.egg
*.egg-info
dist
_build
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*.sqlite

# Unit test / coverage reports
.coverage
cover
coverage.xml
.coverage\.*
.current.cfg
.tox
.stestr
nosetests.xml
.testrepository
.venv

# Editors
*~
.*.swp
.*sw?
.vscode

# Sphinx
doc/build

# Release Notes documentation
releasenotes/build

# Api Ref documentation
api-ref/build/

# pbr generates these
AUTHORS
ChangeLog